<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<h3>Пользователи</h3>


<div th:each="user : ${users}">
    <a th:href="@{/admin/users/{id} (id=${user.getId()})}" th:text="${user.getUsername()}">user</a>

</div>
<br/>
<hr/>
<a th:href="@{/admin/new}">Создать нового пользователя</a>

    <form th:method="POST" th:action="@{/logout}">
      <input type="submit" value="Выйти из сайта"/>
    </form>



</body>
</html>