<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<h3>Страница пользователя</h3>
<label>ID:</label> <p th:text="${user.getId()}">ID</p>
<label>Возраст:</label> <p th:text="${user.getAge()}">Age</p>
<label>Имя пользователя:</label> <p th:text="${user.getUsername()}">Name</p>
<label>Электронная почта:</label> <p th:text="${user.getEmail()}">Email</p>

<div>
    <label>Роли:
        <input type="checkbox" name="roles"
               th:each="role: ${roles}"
               th:text="${role.getRole_name()}"
               th:value="${role.getId()}"
               th:field="*{roles}"/>
    </label>
</div>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выйти из сайта"/>
</form>

</body>
</html>